.about {
  color: rgba(#eee, 0.7);
  figure {
    width: 100%;
    display: flex;

    img {
      width: 30%;
      height: 60vh;
      object-fit: cover;
    }

    figcaption {
      padding: 2em;
      padding-top: 5em;

      p {
        margin-bottom: 3em;
      }
    }
  }

  .first {
    background-color: #5052b5;
  }

  .second {
    background-color: #484aa3;
  }

  .third {
    background-color: darken(#484aa3, 8);
  }
}
